body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Papyrus;
}

div.site_container {
    width: 100%;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.content {
    text-align: center;
    color: white;
    background-color: black;
}

.logo {
    width:240px;
    height:200px;
    float:left;  /*actually shifts everything over and appears left of slide show - not bad   */
}

.logo img {

    max-width: 100%;
    max-height: 100%;
}

.fadein
{
    position:relative;
    height:660px;
    width:880px;
    margin: 0 auto;
}
.fadein p
{
    position:absolute;
    left:0;
    top:0;
    margin: 0;
}

.bio
{
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 20px;
}

.bio > p
{
    font-size: larger;
}

.bio_img_left
{
    float: left;
    margin-right: 30px;
    width: 540px;
}

.bio > .header {
    text-align: center;
}

.hunt-info
{
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 40px;
}

.hunt-info > .header
{
    text-align: center;
}

.hunt-info > p
{
    font-size: larger;
}

.hunt-info_img
{
    float: left;
    margin-right: 30px;
    width: 540px;
}

.hunt-info_sub-header
{
    text-align: center;
}

.hunt-info_sub-topic {
    font-size: larger;
    margin-bottom: 20px;
}

.pricing_page
{
    min-height: 600px;
    margin: 0 auto;
    text-align: center;
    width: 880px;
}

.pricing_page a{
    color: #FF5105;
}

.contact-info
{
    color: #E10000;
}