body {
    margin: 0;
    color: white;
    font-family: Papyrus;
    background-image: url('../images/barnwood-background-grey.jpg');
}

div.site_container {
    width: 100%;
}

header, footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}


.footer_content
{
    height: 200px;
    position: relative;
    width: 1093px;
    margin: 0 auto;
    border-top: double 5px #FF8040;
    border-bottom: double 5px #FF8040;
}

.footer_content > div
{
    display: inline-block;
    height: 200px;
}

.footer_left, .footer_right
{
    position: absolute;
}

.footer_left
{
    left: 0px;
}


.footer_right
{
    right: 0px;
}

.footer_phrase
{
    width: 390px;
    font-size: large;
}

footer_phrase_contact_info
{
    font-size: small;
}

.footer_contact_info {
    font-size: small;
}
.footer_contact_info a {
    color: #FF5105
}


.footer_copyright
{
    font-size: x-small;
    font-weight: bolder;
    color: #FF8040;
    margin-top: 46px;
}

.footer_photo_link
{
    height: 150px;
    width: 130px;
    background-image: url('../images/az.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-right: 15px;
}

.footer_photo_link, .footer_photo_link > p
{
    cursor: pointer;
    cursor: hand;
}


.footer_photo_link > p
{
    padding-top: 40px;
    padding-left: 12px;
    color: black;
    font-weight: bold;
}

.footer_contact_link
{
    height: 150px;
    width: 150px;
    background-image: url('../images/bearpaw.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    left: 15px;
}

.footer_contact_link > p
{
    color: white;
    padding-top: 50px;
    font-weight: bold;
    font-size: larger;
}

.footer_contact_link, .footer_contact_link > p
{
    cursor: pointer;
    cursor: hand;
}


.logo_image {
    height: 160px;
}

.content {
    text-align: center;
    color: white;
    background-color: black;
}

.fadein
{
    position:relative;
    height:660px;
    width:880px;
    margin: 0 auto;
}
.fadein p
{
    position:absolute;
    left:0;
    top:0;
    margin: 0;
}

.bio
{
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 20px;
}

.bio > p
{
    font-size: larger;
}

.bio_img_left
{
    float: left;
    margin-right: 30px;
    width: 540px;
}

.bio > .header {
    text-align: center;
}

.hunt-info
{
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 40px;
}

.hunt-info > .header
{
    text-align: center;
}

.hunt-info > p
{
    font-size: larger;
}

.hunt-info_img
{
    float: left;
    margin-right: 30px;
    width: 540px;
}

.hunt-info_sub-header
{
    text-align: center;
}

.hunt-info_sub-topic {
    font-size: larger;
    margin-bottom: 20px;
}

.pricing_page
{
    font-size: larger;
    font-weight: bolder;
    min-height: 600px;
    margin: 0 auto;
    text-align: center;
    width: 880px;
}

.pricing_page a{
    color: #FF5105;
}

.contact-info
{
    color: white;
}