body {
    margin: 0;
    background-color: black;
    color: white;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.content {
    text-align: center;
    color: white;
    background-color: black;
}

.logo {
    width:240px;
    height:200px;
    float:left;  /*actually shifts everything over and appears left of slide show - not bad   */
}

.logo img {

    max-width: 100%;
    max-height: 100%;
}

.fadein
{
    position:relative;
    height:660px;
    width:880px;
    margin: 0 auto;
}
.fadein p
{
    position:absolute;
    left:0;
    top:0;
    margin: 0;
}